# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/Microsoft.Bcl.HashCode                                                       @dotnet/area-system-runtime
/src/Microsoft.IO.Redist                                                          @dotnet/area-system-io
/src/System.Buffers                                                               @dotnet/area-system-buffers
/src/System.Data.SqlClient                                                        @cheenamalhotra @david-engel
/src/System.Json
/src/System.Memory                                                                @dotnet/area-system-memory
/src/System.Net.WebSockets.WebSocketProtocol                                      @dotnet/ncl
/src/System.Numerics.Vectors                                                      @dotnet/area-system-numerics
/src/System.Reflection.DispatchProxy                                              @dotnet/area-system-reflection
/src/System.Runtime.CompilerServices.Unsafe                                       @dotnet/area-system-runtime-compilerservices
/src/System.Threading.Tasks.Extensions                                            @dotnet/area-system-threading-tasks @stephentoub
/src/System.Xml.XPath.XmlDocument                                                 @dotnet/area-system-xml